/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

.wheel-section {
  display: flex;
  min-height: calc(100vh - 85px);
  position: relative;
  z-index: 0;

  .container-fluid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    min-height: 100%;
  }

  &__title {
    margin: 0 auto 15px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

    &_colored {
      color: var(--gold);
    }
  }
  &__scene {
    position: relative;
    max-width: 640px;
    width: 100%;
    max-height: 100%;
    height: max-content;
    margin: 0 auto 32px;
  }
  &__wheel {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &-background {
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 175%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
    &-circle {
      img {
        width: 100%;
        transition: all 4s ease 0s;

        &.step-1 {
          transform: rotate(-565deg);
        }
        &.step-2 {
          transform: rotate(-1145deg);
        }
      }
    }
    &-badge {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }
    }
    &-pointer {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 46px;
      }
    }
  }
  &__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 17px;
  }
  &__attempt {
    margin: 0 auto;
    color: var(--white);
    font-size: 20px;
    text-align: center;

    &-counter {
      &::before {
        content: attr(data-counter);
      }
    }
  }
}

.registration {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  border-top: 25px solid #0A034A;
  padding: 55px 20px 20px;
  position: relative;

  &__decor {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%, 0);

    img {

    }
  }

  &__offer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 20px;

    &-text {
      margin: 0;
    }
    &-title {
      margin: 0;
    }
  }

  &__form {
    .form {
      &-row {
        &> [class*="col-"] {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
      &-group {
        margin-bottom: 20px;
      }
    }
    &-separate {
      margin: -20px 0 0;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }
  }

  &__title {
    margin: 0 auto 20px;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    margin: auto 0 0;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    a {
      color: var(--gold);
      text-decoration: underline;
    }
  }
}