/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.footer {
  &__content {
    padding: 32px 0 16px;
  }
  &__payments {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 16px;

    img {
      max-width: 60px;
    }
  }
}