/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .header {
    &__title {
      font-size: 48px;

      p {
        font-size: 24px;
      }
    }
  }

  .footer {
    &__payments {
      img {
        max-width: none;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .header {
    &__logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &__title {
      margin: 0 auto;
      text-align: center;
    }
  }
}
@include media-breakpoint-up(lg) {
  .header {
    &__logo {
      left: 64px;
    }
  }
}
@include media-breakpoint-up(xl) {}

// max-width
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {}
@media screen and (max-width: 320px) {}
