<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <div class="section-bg">
        <picture>
            <source media="(min-width: 1025px)" srcset="<%= require('./img/bg-h.png') %>">
            <img src="<%= require('./img/bg-v.png') %>" class="section-bg__img" alt="" title="">
        </picture>
    </div>
    <!-- HEADER -->
    <header class="header">
        <div class="container-fluid">
            <a href="#" class="logo">
                <picture>
                    <img src="<%= require('./img/logo.svg') %>" alt="" title="">
                </picture>
            </a>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section wheel-section">
            <div class="container-fluid">
                <p class="wheel-section__title">spin & <span class="wheel-section__title wheel-section__title_colored">win</span></p>
                <div class="wheel-section__scene">
                    <div class="wheel-section__wheel">
                        <picture class="wheel-section__wheel-background">
                            <img src="<%= require('./img/wheel-bg.png') %>" alt="" title="">
                        </picture>
                        <picture class="wheel-section__wheel-circle">
                            <img src="<%= require('./img/wheel.png') %>" alt="" title="">
                        </picture>
                        <picture class="wheel-section__wheel-badge">
                            <img src="<%= require('./img/wheel-badge.png') %>" alt="" title="">
                        </picture>
                        <picture class="wheel-section__wheel-pointer">
                            <img src="<%= require('./img/wheel_pointer.svg') %>" alt="" title="">
                        </picture>
                    </div>
                </div>

                <div class="wheel-section__footer">
                    <p class="wheel-section__attempt">You've got <span class="wheel-section__attempt-counter" data-counter="2"></span> tries</p>

                    <button id="button" class="btn-style" data-counter="2" data-toggle="modal" data-target="#registration"><span>spin now</span></button>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->
</div>

<!-- Registration -->
<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>-->

            <div class="registration">
                <picture class="registration__decor">
                    <img src="<%= require('./img/modal-decor.png') %>" alt="" title="">
                </picture>

                <div class="registration__offer">
                    <p class="registration__offer-text">Congrats!</p>
                    <p class="registration__offer-text">You won Welcome Bonus</p>
                    <p class="registration__offer-title">1500 <span>$ +</span> 150 <span>fs</span></p>
                </div>

                <form method="post" action="" class="registration__form">
                    <p class="registration__title">Registration</p>

                    <div class="form-row">
                        <div class="col-sm-6">
                            <label class="form-group">
                                <input type="text" class="form-control" placeholder="First name">
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-group">
                                <input type="text" class="form-control" placeholder="Last name">
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12">
                            <label class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </label>
                        </div>
                    </div>

                    <p class="registration__form-separate">or</p>

                    <div class="form-row">
                        <div class="col-12">
                            <label class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone">
                            </label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-6">
                            <label class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary w-100">Register & Get Bonus</button>
                        </div>
                    </div>
                </form>

                <p class="registration__text">By clicking this button you confirm that you have read and agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy
                    Policy</a> of the company and confirm that you are of legal age</p>
            </div>
        </div>
    </div>
</div>

<!-- BODY END   -->
</body>
</html>