<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container-fluid">
            <div class="header__content">
                <a href="#" class="header__logo">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="" title="">
                    </picture>
                </a>

                <div class="header__title">
                    <p>Catch <span>Your</span></p>
                    <h1>Mysti Bonus</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section wheel-section">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/sparks.png') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <div class="container-md">
                <div class="wheel-section__content">
                    <div class="wheel-section__scene">
                        <div class="wheel-section__scene-parallax">
                            <div id="scene">
                                <picture class="parallax-layer" data-depth="0.1">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/money.png') %>" alt="" title="">
                                </picture><!--money-->

                                <picture class="parallax-layer" data-depth="0.1">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/mask.png') %>" alt="" title="">
                                </picture><!--mask-->

                                <picture class="parallax-layer" data-depth="0.2">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/dice.png') %>" alt="" title="">
                                </picture><!--dices-->

                                <picture class="parallax-layer" data-depth="0.3">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/spades.png') %>" alt="" title="">
                                </picture><!--spades-->

                                <picture class="parallax-layer" data-depth="0.5">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/clubs.png') %>" alt="" title="">
                                </picture><!--clubs-->
                            </div>
                        </div>

                        <div class="wheel-section__wheel">
                            <picture class="wheel-section__wheel-base">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/wheel_base.png') %>" alt="" title="">
                            </picture>
                            <picture class="wheel-section__wheel-circle">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/wheel.png') %>" alt="" title="">
                            </picture>
                            <picture class="wheel-section__wheel-pointer">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/wheel_pointer.svg') %>" alt="" title="">
                            </picture>

                            <div class="wheel-section__wheel-stars">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/star.png') %>" alt="" title="">
                                </picture>
                            </div>
                        </div>
                    </div>

                    <div class="wheel-section__footer">
                        <p class="wheel-section__title">
                            <span>Win<svg><use xlink:href="img/spritemap.svg#sprite-crown"></use></svg></span>Right Now!
                        </p>

                        <button class="wheel-section__button btn-style"><span>spin</span></button>

                        <p class="wheel-section__attempt" data-count="2">Attempts<br>Left</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__payments">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/visa.svg') %>" alt="" title="">
                    </picture>

                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/mastercard.svg') %>" alt="" title="">
                    </picture>

                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/google-pay.svg') %>" alt="" title="">
                    </picture>

                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/apple-pay.svg') %>" alt="" title="">
                    </picture>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>
<!-- BODY END   -->
</body>
</html>